{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Мои заказы</h1>
    {% if orders %}
    <div class="list-group">
        {% for order in orders %}
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Заказ №{{ order.id }}</h5>
                <small>{{ order.created }}</small>
            </div>
            <p class="mb-1">Статус: {{ order.status }}</p>
            <ul class="list-unstyled">
                {% for item in order.orderitem_set.all %}
                <li class="media my-4">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" class="mr-3 img-thumbnail" style="width: 100px;">
                    {% else %}
                    <div class="mr-3" style="width: 100px; text-align: center;">Изображение отсутствует</div>
                    {% endif %}
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">{{ item.product.title }}</h6>
                        <p>Цена: {{ item.price }} - Количество: {{ item.quantity }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>У вас пока нет заказов.</p>
    {% endif %}
</div>
{% endblock %}