{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <h2 class="text-center mb-4">Регистрация</h2>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <p>Пожалуйста, исправьте ошибки ниже.</p>
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username|add_class:"form-control" }}
                        {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            {{ error }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                        {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            {{ error }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1|add_class:"form-control" }}
                        {% if form.password1.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password1.errors %}
                            {{ error }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2|add_class:"form-control" }}
                        {% if form.password2.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                            {{ error }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-center mb-3">
                        Уже зарегистрированы ? <a href="{% url 'login' %}">Вход</a>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}